:root {
  --primary-color: #101423;
  --secondary-color: #F0D2C7;
  --cards-color: #3B425F;
  --gradient-start: #FFEAC2;
  --gradient-middle: #EED5A2;
  --gradient-end: #745D29;
  --text-color: #f1f1f1;
  --gold-color: linear-gradient(90deg, var(--gradient-start), var(--gradient-middle), var(--gradient-end));
  --gold-shadow-color: rgba(238, 213, 162, 0.5); /* Adjust the alpha value for transparency */
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
}
h1{
  font-family: 'Jost', sans-serif;
  font-weight: 100px;
}
.navbar {
  background-color: var(--primary-color);
  color: var(--text-color);
  
}
#jost-text {
  font-family: 'Jost', sans-serif;
  font-weight: 100px;
  
}
span {
  background: var(--gold-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#cevat-text {
  font-family: 'Caveat', cursive;
  font-weight: 100;
  font-size: 1.5rem;
  background: var(--gold-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.competenc{
  
  color: var(--text-color);
}
.navbar-menu {
  background-color: var(--primary-color);
}
#gradient-border {
  border: 0.5px solid transparent;
  border-image: linear-gradient(90deg, var(--gradient-start), var(--gradient-middle), var(--gradient-end));
  border-image-slice: 1;
}


.hero-img {
  border-radius: 150px 150px 0 0;

  
}
.sideimag {
  display: block;
}

@media (max-width: 768px) {
  .sideimag {
    display: none;
  }
}

.has-bullets {
  list-style-type: disc;
  padding-left: 20px;
  

}
.btn, .custom-button  {
  background-color: var(--cards-color);
  color: var(--gold-color);
  border: 1px solid transparent; /* Ændret til transparent for at bruge border-image */
  border-image: var(--gold-color); /* Tilføj denne linje for at bruge gradienten */
  border-image-slice: 1; /* Tilføj denne linje for at sikre, at hele gradienten bruges */
  cursor: pointer;
  padding: 12px 25px; 
  
}
.btn:hover, .custom-button:hover,
.btn:active  {
  background-image: var(--gold-color); /* Guld baggrund ved hover */
  color: var(--primary-color); /* Mørk farve tekst ved hover */
}

.shadow {
  box-shadow: 0 4px 12px var(--gold-shadow-color);
}

.card {
  background-color: var(--cards-color);
  color: var(--text-color);
  height: 100%;
  border: 1px solid transparent; /* Ændret til transparent for at bruge border-image */
}

.icon, a {
  background: var(--gold-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.small-text {
  font-size: 1rem; /* Adjust the size as needed */
  background: var(--gold-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Caveat', cursive;
  font-weight: lighter;
}
.arrow-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateX(-50%) translateY(0);
  }
  40% {
      transform: translateX(-50%) translateY(-10px);
  }
  60% {
      transform: translateX(-50%) translateY(-5px);
  }
}

